---
export interface Props {
	eventName: string;
	description: string;
	date: string;
	venue: string;
	regLink?: string;
	time?: string;
	contactNumber?: string;
}

const { eventName, description, date, venue, regLink, time, contactNumber = null } = Astro.props;
---

<section id={eventName} class="font-poppins border-t-2 border-b-2 px-3 py-2 text-slate-100 flex flex-col">
	<div id="top">
		<p class="text-center pb-2"><strong>{eventName}</strong></p>
		<h1 id="title" title={description} class="truncate"><span class="text-slate-400">Title:</span> {description}</h1>
		<p id="date"><span class="text-slate-400">Date:</span> {date}</p>
		<p id="venue" title={venue} class="truncate"><span class="text-slate-400">Venue:</span> {venue}</p>
		<p id="time" title={time} class="truncate"><span class="text-slate-400">Time:</span> {time}</p>
		<p id="contactNumber" title={contactNumber} class="truncate"><span class="text-slate-400">Contact No:</span> {contactNumber}</p>

	</div>
	<div id="bottom" class="self-center py-3">
			{
			regLink ? <a href={regLink} class="relative self-center bg-slate-300 text-black font-black px-2 py-1 rounded" target="_blank">REGISTER</a>
			: <a href={regLink} class="relative self-center bg-slate-600 text-black font-black px-2 py-1 rounded pointer-events-none">REGISTER</a>
		}
	</div>	
</section>
<style>
	section{
		backdrop-filter: blur(10px);
	}
</style>